@use 'sass:color';

$text-color: rgba(255, 255, 255, 0.87);
$spotify-green: #1ed760;
$gp-color: #648DE5;

$font-scaler: 0.8;
$fa-scaler: 0.6;

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
  font-size: $font-scaler * 1rem;
  background-color: rgb(250, 255, 255);
}

#root {
  max-width: 970px;
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  background-color: rgb(250, 255, 255);
}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: $text-color;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, .h1 {
  font-size: $font-scaler * 2rem;

  .fa { max-height: $fa-scaler * 2rem; }
}

h2, .h2 {
  font-size: $font-scaler * 1.75rem;

  .fa { max-height: $fa-scaler * 1.75rem; }
}

h3, .h3 {
  font-size: $font-scaler * 1.5rem;

  .fa { max-height: $fa-scaler * 1.5rem; }
}

h4, .h4 {
  font-size: $font-scaler * 1.25rem;

  .fa { max-height: $fa-scaler * 1.25rem; }
}

h5, .h5 {
  font-size: $font-scaler * 1rem;

  .fa { max-height: $fa-scaler * 1rem; }
}

h6, .h6 {
  font-size: $font-scaler * 1rem;

  .fa { max-height: $fa-scaler * 1rem; }
}

p, .p {
  font-size: $font-scaler * 1rem;

  .fa { max-height: $fa-scaler * 1rem; }
}

small, .small {
  font-size: $font-scaler * 0.875rem;

  .fa { max-height: $fa-scaler * 0.875rem; }
}

button * {
  font-size: $font-scaler * 1.25rem;

  .fa-button { max-height: $fa-scaler * 1.5rem; }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

.no-break {
  white-space: nowrap;
}


button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: $font-scaler * 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

// .project-icon {
//   max-width: 250px;
// }


$step-height: 3.0rem;

.step-row {
  $step-height: 3.0rem;
  display: flex;
  align-items: center;
}

.step-icon {
  height: $step-height * 1.3;
}

.playlist-summary {
  position: relative;
  border: 1px solid $spotify-green;
  border-radius: 6px;
  padding: 6px 12px;
  margin: 0px;

  background-color: color.adjust($spotify-green, $lightness: 40%);
  border-color: color.adjust($spotify-green, $lightness: -20%);

  .progress-arrow  {
    position: absolute;
    padding: 0.5rem;
    top: -2.25rem;
    left: 50%;
    border-radius: 50%;
    height: 2.5rem;
    font-size: 1.5rem;
    background-color: color.adjust($spotify-green, $lightness: 40%);
    border: 1px solid color.adjust($spotify-green, $lightness: -20%);
    transform: rotate(90deg);
  }
}


.gig-file-summary {
  border: 1px solid $gp-color;
  border-radius: 6px;
  padding: 6px 12px;
  margin: 0px;

  background-color: color.adjust($gp-color, $lightness: 30%);
  border-color: color.adjust($gp-color, $lightness: -20%);
}

.inputPlaylist {
  width: 100%;
  background-color: inherit;
  height: $step-height;

  input {
    // font-size: 80%;
    width: 100%;
    height: $step-height;

    &.valid-spotify-id {
      background-color: color.adjust($spotify-green, $lightness: 40%);
      border-color: color.adjust($spotify-green, $lightness: -20%);
    }
  }
}

.btnSpotifyLoad {
  width: 100%;
  min-width: 100px;
  height: $step-height;

  background-color: $spotify-green;
  border-color: color.adjust($spotify-green, $lightness: -20%);

  &:disabled {
    background-color: #b0b0b0;
    border-color: color.adjust(#b0b0b0, $lightness: -20%);
  }
}

.btnGigFileDownload {
  width: 100%;
  min-width: 100px;
  height: $step-height;

  background-color: $gp-color;
  border-color: color.adjust($gp-color, $lightness: -20%);

  &:disabled {
    background-color: #b0b0b0;
    border-color: color.adjust(#b0b0b0, $lightness: -20%);
  }
}

.font-awesome-text {
  display: inline-block;
  max-height: 18px;
  margin-right: 6px;
}

.playlist-tracks {
  background-color: #f8f8f8;
  font-size: 80%;

  thead {
    background-color: #e8e8e8;
  }

  td, th {
    padding: 0.1rem 0.5rem;
  }

  .track-name, .track-artists, .track-album {
    text-align: left;
  }

  .track-spotify, .track-released, .track-popularity {
    text-align: center;
  }

  .track-time {
    text-align: right;
  }
}


@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spin {
  animation: spin 2s linear infinite;
}